@{
    ViewBag.Title = "Home Page";
}

<div class="banner-section">
    <h3 class="tittle"> عملیات والفجر۸<i class="glyphicon glyphicon-file"></i></h3>
    <div class="single">
        <img src="~/Content/images/Articlepic/valfadjr8.jpg" class="img-responsive" alt="" />
        <div class="b-bottom">
            <h5 class="top"><a href="#">ساعت ۱۰.۲۲ دقیقه روز یکشنبه ۲۰ بهمن ۶۴  محسن رضایی فرمانده وقت کل سپاه</a></h5>
            <p class="sub">
                ساعت ۱۰.۲۲ دقیقه روز یکشنبه ۲۰ بهمن ۶۴  محسن رضایی فرمانده وقت کل سپاه  رمز یا فاطمه الزهرا(س) عملیات الفجر ۸  را مخابره کرد و پس از آن عملیات با عبور موفقیت‌آمیز غواصان از رودخروشان اروند آغاز شد.
                عبور از رودخانه، بر روی کاغذ و به نظر قریب به اتفاق فرماندهان جنگ در جهان غیرممکن و همواره یکی از مشکلات ارتش‌های جهان است ولی در علمیات والفجر۸  نیروهای عمل کننده با عبور از رودخانه اروند که به رودخانه وحشی مشهور است، تعجب دنیا را برانگیختند.
                پس از عبور غواصان از اروندخروشان یگان‌های نیروی زمینی سپاه پاسداران با پشتیبانی آتش و شلیک هزاران گلوله، تهاجم خود را در محورهای مورد نظر آغاز و مبادرت به شکستن خط مقدم دشمن کردند.
                رزمندگان اسلام در این عملیات با عبور از رودخانه اروند که از تلاقی ۲ رودخانه دجله و فرات سرچشمه گرفته و در عرض ۴۰۰ تا ۱۶۰۰ متر متغیر بوده و از جزر و مدهای بسیار شدیدی برخوردار است یکی از شگفت آورترین عملیات‌های هشت سال دفاع مقدس را رقم زدند و اروند خروشان در برابر اراده غواصان این عملیات تعظیم کرد.
            </p>
            <p>On Aug 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>

        </div>
    </div>


    <div class="response">
        <h4>
            نظرات
        </h4>
        <div class="media response-info">
            <div class="media-right response-text-right">
                <a href="#">
                    <img class="media-object" src="images/sin1.jpg" alt="" />
                </a>
                <h5><a href="#">نام کاربر</a></h5>
            </div>
            <div class="media-body response-text-left">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <ul>
                    <li>Sep 21, 2015</li>
                    <li><a href="single.html">پاسخ</a></li>
                </ul>
                <div class="media response-info">
                    <div class="media-right response-text-right">
                        <a href="#">
                            <img class="media-object" src="images/sin2.jpg" alt="" />
                        </a>
                        <h5><a href="#">نام کاربر</a></h5>
                    </div>
                    <div class="media-body response-text-left">
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                        <ul>
                            <li>July 17, 2015</li>
                            <li><a href="single.html">پاسخ</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="media response-info">
            <div class="media-right response-text-right">
                <a href="#">
                    <img class="media-object" src="images/sin1.jpg" alt="" />
                </a>
                <h5><a href="#">نام کاربر</a></h5>
            </div>
            <div class="media-body response-text-left">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <ul>
                    <li>Mar 28, 2015</li>
                    <li><a href="single.html">پاسخ</a></li>
                </ul>
                <div class="media response-info">
                    <div class="media-right response-text-right">
                        <a href="#">
                            <img class="media-object" src="images/sin2.jpg" alt="" />
                        </a>
                        <h5><a href="#">نام کاربر</a></h5>
                    </div>
                    <div class="media-body response-text-left">
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                        <ul>
                            <li>Feb 19, 2015</li>
                            <li><a href="single.html">پاسخ</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="coment-form">
        <h4>ارسال نظر</h4>
        <form>
            <input type="text" value="نام" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
            <input type="email" value="ایمیل" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email (will not be published)*';}" required="">
            <input type="text" value="وب سایت" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Website';}" required="">
            <textarea onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Comment...';}" required="">پیام...</textarea>
            <input type="submit" value="ارسال">
        </form>
    </div>
    <div class="clearfix"></div>
</div>