@{
    ViewBag.Title = "Home Page";
}

<div class="banner-section">
    <h3 class="tittle"> عملیات مرصاد<i class="glyphicon glyphicon-file"></i></h3>
    <div class="single">
        <img src="~/Content/images/Articlepic/mersad2.jpg" class="img-responsive" alt="" />
        <div class="b-bottom">
            <h5 class="top"><a href="#">در روز ۸ مرداد ۱۳۶۷ بعد از سه روز نبرد بی‌امان...</a></h5>
            <p class="sub">
                در روز ۸ مرداد ۱۳۶۷ بعد از سه روز نبرد بی‌امان، با پاکسازی منطقه اسلام‌آباد و کرند غرب از وجود اعضای مجاهدین خلق که با حمایت ارتش بعث وارد خاک ایران شده بودند، عملیات مرصاد به پیروزی رسید.

                عملیات مرصاد نبردی بود میان ارتش جمهوری اسلامی ایران و سازمان مجاهدین خلق (منافقین) که در اواخر جنگ ایران و عراق، در سال ۱۳۶۷ درگرفت. پس از چند روز درگیری در نهایت نیروهای ارتش ایران پیروز شدند و عملیاتی که توسط سازمان مجاهدین خلق طرح‌ریزی و اجرا شده بود عملاً با شکست روبرو شد و تعداد زیادی از نیروهای مهاجم که نام عملیات خود را فروغ جاویدان گذاشته بودند، در نبرد کشته شدند.

                صدام حسین، رییس‌جمهور عراق و حامی سازمان مجاهدین خلق، در هشتم تیرماه ۱۳۶۷ طی یک سخنرانی درباره جنگ عراق و ایران، ضمن تکرار ادعای صلح‌طلبی خود و محکوم کردن ایران به دلیل تداوم مقاومت برای تحقق هدف محکومیت و مجازات متجاوز، گفت: «عراق به سطحی از آگاهی رسیده است که اگر روزی حس کند نابودی دشمن در سرزمینش خدمت به صلح است به آن دست خواهد زد… اگر ایران به هیچیک از این مسائلی که من اشاره کردم توجه نکند مردم خودشان آن‌ها را مجبور خواهند کرد که به صلح تن در دهند و این چیزی است که به آن ایمان راسخ دارم و قهرمانی‌های مجاهدین خلق در مهران مؤید این سخن می‌باشد. بالاخره روزی خواهد رسید که برای جنگیدن کسی به کمک آن‌ها نخواهد آمد و بعد از مدتی خواهید دید که چگونه مجاهدین خلق به اعماق خاک خودشان نفوذ خواهند کرد و همین طور پیوستن مردم ایران را به صفوف آن‌ها خواهند دید...»

                در ۲۷ تیرماه سال ۱۳۶۷ ایران اعلام کرد قطعنامه ۵۹۸ را بدون قید و شرط پذیرفته است، اما ارتش صدام در ۳۱ تیرماه به خاک ایران حمله و از منطقه جنوب به سمت خرمشهر و اهواز پیشروی کرد. پس از ضد حملات موفق ایران، ارتش عراق در جبهه‌های میانی و غرب کشور نیز به عملیات نظامی مبادرت کرد که آن‌ها هم با بسیج مجدد نیروهای مردمی و نظامی جمهوری اسلامی، ناموفق شدند. در نتیجه نیروهای عراقی عقب‌نشینی کردند و رژیم عراق در اول و سوم مرداد ماه رسماً عقب‌نشینی خود را از جبهه‌های جنوب و میانی و غرب کشور اعلام کرد. اما همزمان عملیات مشترک عراق و سازمان مجاهدین خلق آغاز شد.

                اولین واکنش سازمان در مورد پذیرش قطعنامه از سوی ایران، برگزاری نشست مسعود رجوی، رهبر سازمان با اعضا بود. در این نشست که عصر روز جمعه ۱۳۶۷/۴/۳۱، سه روز قبل از شروع عملیات «فروغ جاویدان» برگزار شد، رجوی جزئیات این عملیات را به اطلاع فرماندهان و اعضای سازمان مجاهدین خلق رساند. ساعت ۲/۳۰ بود که سخنرانی پایان پذیرفت و افراد تا ۳/۳۰ بعد از نیمه‌شب از یکدیگر خداحافظی کردند.

            </p>
            <p>On Aug 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>

        </div>
    </div>


    <div class="response">
        <h4>
            نظرات
        </h4>
        <div class="media response-info">
            <div class="media-right response-text-right">
                <a href="#">
                    <img class="media-object" src="images/sin1.jpg" alt="" />
                </a>
                <h5><a href="#">نام کاربر</a></h5>
            </div>
            <div class="media-body response-text-left">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <ul>
                    <li>Sep 21, 2015</li>
                    <li><a href="single.html">پاسخ</a></li>
                </ul>
                <div class="media response-info">
                    <div class="media-right response-text-right">
                        <a href="#">
                            <img class="media-object" src="images/sin2.jpg" alt="" />
                        </a>
                        <h5><a href="#">نام کاربر</a></h5>
                    </div>
                    <div class="media-body response-text-left">
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                        <ul>
                            <li>July 17, 2015</li>
                            <li><a href="single.html">پاسخ</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="media response-info">
            <div class="media-right response-text-right">
                <a href="#">
                    <img class="media-object" src="images/sin1.jpg" alt="" />
                </a>
                <h5><a href="#">نام کاربر</a></h5>
            </div>
            <div class="media-body response-text-left">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <ul>
                    <li>Mar 28, 2015</li>
                    <li><a href="single.html">پاسخ</a></li>
                </ul>
                <div class="media response-info">
                    <div class="media-right response-text-right">
                        <a href="#">
                            <img class="media-object" src="images/sin2.jpg" alt="" />
                        </a>
                        <h5><a href="#">نام کاربر</a></h5>
                    </div>
                    <div class="media-body response-text-left">
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                        <ul>
                            <li>Feb 19, 2015</li>
                            <li><a href="single.html">پاسخ</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="coment-form">
        <h4>ارسال نظر</h4>
        <form>
            <input type="text" value="نام" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
            <input type="email" value="ایمیل" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email (will not be published)*';}" required="">
            <input type="text" value="وب سایت" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Website';}" required="">
            <textarea onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Comment...';}" required="">پیام...</textarea>
            <input type="submit" value="ارسال">
        </form>
    </div>
    <div class="clearfix"></div>
</div>