@{
    ViewBag.Title = "Home Page";
}

<div class="banner-section">
    <h3 class="tittle"> شهید صیاد شیرازی<i class="glyphicon glyphicon-file"></i></h3>
    <div class="single">
        <img src="~/Content/images/Articlepic/sayyad2.jpg" class="img-responsive" alt="" />
        <div class="b-bottom">
            <h5 class="top"><a href="#">علی صیاد شیرازی در سال ۱۳۲۳ در روستای کبودگنبد شهرستان درگز </a></h5>
            <p class="sub">
                علی صیاد شیرازی در سال ۱۳۲۳ در روستای کبودگنبد شهرستان درگز از توابع استان خراسان رضوی متولد شد. مادرش شهربانو و پدرش زیاد نام داشت. پدرش که از عشایر فارس بود، به استخدام ژاندارمری در آمد و سپس به ارتش منتقل شد. زیاد از جذبه‌ای خاص برخوردار بود، از این رو علی تحت تأثیر پدر از کودکی به ارتش علاقه‌مند شد. او به همراه پدر و خانواده، مانند دیگر خانواده‌های نظامیان، پیوسته از شهری به شهری دیگر مهاجرت می‌کرد. شهرهای مشهد، گرگان، شاهرود، آمل، گنبد و سرانجام گرگان محل پرورش وی شدند.

                علی صیاد شیرازی، در سال ۱۳۴۰ برای ادامه تحصیل به تهران آمد و سال ششم متوسطه را در تهران گذراند و در سال ۱۳۴۲ موفق به اخذ دیپلم شد. در سال ۱۳۴۳ با قبولی در کنکور وارد دانشکده افسری شد و سرانجام در مهرماه ۱۳۴۶ در رسته توپخانه دانش‌آموخته شد و با درجه ستوان دومی وارد ارتش گردید. پس از طی دوره آموزشی در شیراز و اصفهان به لشگر تبریز و سپس لشگر زرهی کرمانشاه منتقل شد.

                او در سال ۱۳۵۰ برای گذراندن دوره آموزش زبان انگلیسی به تهران آمد و پس از پایان کلاس و جدیت در تحصیل سرانجام خود از استادان زبان انگلیسی شد. ستوان یک علی صیاد شیرازی تصمیم گرفت با دختر عمویش، خانم عفت شجاع ازدواج کند اما به دلیل اینکه محمود، عموی علی از مخالفان شاه بود، ساواک با این ازدواج موافقت نکرد، اما سرانجام در اثر اصرار علی، ارتش با این وصلت موافقت کرد.

                علی صیاد شیرازی به دلیل لیاقت‌ها و دقت‌هایش در کار، در سال ۱۳۵۲ برای تکمیل تخصص‌های توپخانه از طرف ارتش به آمریکا اعزام شد تا دوره هواسنجی بالستیک را بگذراند. او این دوره آموزشی را در شهر فورت سیل در ایالت اوکلاهما، در منطقه‌ای نظامی، با موفقیت طی کرد و پس از گذراندن دوره، با تخصصی جدید به ایران مراجعت کرد.

                ارتش برای استفاده از دانش نظامی ستوان، او را در سال ۱۳۵۳ به اصفهان مرکز توپخانه منتقل کرد. علی در اصفهان با یافتن دوستان جدید مطالعات مذهبی خود را پی گرفت و شخصیت سیاسی خویش را در این دوره قوام بخشید و در نامه‌ای که برای سرگرد محمدمهدی کتیبه، یکی از افسران مذهبی ارسال کرد این جمله را نوشت: «در مورد برنامه‌های مذهبی به حمدالله پیش می‌رویم مخصوصاً در آن قسمت که می‌دانید». این جمله حساسیت ضد اطلاعات را برانگیخت و از آن پس وی تحت مراقبت قرار گرفت. آن‌ها پس از تحقیق و مراقبت متوالی، او را «متعصب مذهبی» معرفی کردند و مراقبت از وی را شدت بخشیدند.

                در‌ همان سال‌ها بود که ماموران ساواک در گزارشی تحت عنوان «کنترل اعمال و رفتار سروان علی صیاد شیرازی» نوشتند: «۱- منبع ۴۴۲۲ گزارش نموده است که: رفتار نامبرده با گذشته فرق کرده و بدین ترتیب که بیشتر تمایل به انزوا و گوشه‌گیری از دیگران دارد و اظهاراتش غیرعادی بوده و آثار حکومت نظامی و طرز رفتار دولت با مردم از صحبت‌هایش مشهود است و در بحث کوتاهی که سر صف پیش آمد اظهار داشت که علمای اسلام وظیفه دارند در مقابل هر ستمی سکوت نکنند و وظایفی دارند که ما از آن آگاه نیستیم، روزی که تیمسار سپهبد نجیمی برای پرسنل سخنرانی کرد در بحثی که پیش آمد افسر نامبرده اظهار داشت از اینکه امروز خود را در این اجتماع می‌بینیم سخت متأسف هستم و ننگ دارم.»

            </p>
            <p>On Aug 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>

        </div>
    </div>


    <div class="response">
        <h4>
            نظرات
        </h4>
        <div class="media response-info">
            <div class="media-right response-text-right">
                <a href="#">
                    <img class="media-object" src="images/sin1.jpg" alt="" />
                </a>
                <h5><a href="#">نام کاربر</a></h5>
            </div>
            <div class="media-body response-text-left">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <ul>
                    <li>Sep 21, 2015</li>
                    <li><a href="single.html">پاسخ</a></li>
                </ul>
                <div class="media response-info">
                    <div class="media-right response-text-right">
                        <a href="#">
                            <img class="media-object" src="images/sin2.jpg" alt="" />
                        </a>
                        <h5><a href="#">نام کاربر</a></h5>
                    </div>
                    <div class="media-body response-text-left">
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                        <ul>
                            <li>July 17, 2015</li>
                            <li><a href="single.html">پاسخ</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="media response-info">
            <div class="media-right response-text-right">
                <a href="#">
                    <img class="media-object" src="images/sin1.jpg" alt="" />
                </a>
                <h5><a href="#">نام کاربر</a></h5>
            </div>
            <div class="media-body response-text-left">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <ul>
                    <li>Mar 28, 2015</li>
                    <li><a href="single.html">پاسخ</a></li>
                </ul>
                <div class="media response-info">
                    <div class="media-right response-text-right">
                        <a href="#">
                            <img class="media-object" src="images/sin2.jpg" alt="" />
                        </a>
                        <h5><a href="#">نام کاربر</a></h5>
                    </div>
                    <div class="media-body response-text-left">
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                        <ul>
                            <li>Feb 19, 2015</li>
                            <li><a href="single.html">پاسخ</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="coment-form">
        <h4>ارسال نظر</h4>
        <form>
            <input type="text" value="نام" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
            <input type="email" value="ایمیل" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email (will not be published)*';}" required="">
            <input type="text" value="وب سایت" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Website';}" required="">
            <textarea onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Comment...';}" required="">پیام...</textarea>
            <input type="submit" value="ارسال">
        </form>
    </div>
    <div class="clearfix"></div>
</div>